.footer {
  .footer-header {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      font-size: 16px;
      line-height: 22px;
      color: #23282f;
    }
  }

  .footer-content-items {
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: center;
    .footer-content-item {
      cursor: pointer;
      width: 325px;
      height: 43px;
      background: #fff;
      border-radius: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        font-size: 14px;
        color: #23282f;
        line-height: 19px;
      }
    }
  }
}
