.chat-container {
  width: calc(100% - 32px);
  height: 100%;
  background-color: #f2f9ff;
  color: #333;
  overflow: hidden;
  display: flex;
  gap: 16px;
  padding: 16px;

  .chat-wrapper {
    flex: 2;
    flex-direction: column;
    display: flex;
    background: #fff;
    padding: 16px 40px 16px 40px;
    border-radius: 12px 12px 12px 12px;

    .chat-main {
      flex: 1;
      margin-top: 20px;
    }

    .input-container {
      display: flex;
      background-color: #fff;
      flex-direction: column;
      gap: 8px;

      .input-wrapper {
        display: flex;
        align-items: center;
        border: 1px solid #e0e0e0;
        min-height: 40px;
        border-radius: 20px;
        padding-left: 16px;
        padding-right: 4px;
        overflow: hidden;
        gap: 8px;

        .input {
          flex: 1;
          resize: none;
          border: none;
          outline: none;
          padding: 8px 0;
          min-height: 24px;
          max-height: 120px;

          &::-webkit-scrollbar {
            display: none;
          }
          scrollbar-width: none;
          -ms-overflow-style: none;
        }

        .chat-send {
          flex-shrink: 0;
          width: 36px;
          height: 36px;
          min-width: 36px;
          min-height: 36px;
          border-radius: 50%;
          justify-content: center;
          padding: 0;
          display: flex;
          margin-bottom: 2px;
        }

        .stop-send-stop {
          display: flex !important;
          align-items: center !important;
          justify-content: center !important;

          &:hover {
            background-color: #ff7875 !important;
            border-color: #ff7875 !important;
          }
        }
      }
      .chat-mode {
        display: flex;
        gap: 12px;
        margin: 0px;
      }
    }
  }

  .chat-step-wrapper {
    flex: 1;
    height: 100%;
    overflow: hidden;
    background: white;
    border-radius: 16px;
  }
}

.chat-container-empty {
  align-items: center;
  background: #fff;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 0px 12px 12px 12px;
  padding-inline: 100px;
  gap: 40px;

  .empty-chat-message {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    color: #333;
    gap: 14px;

    svg {
      width: 28px;
      height: 28px;
    }
  }

  .input-container-centered {
    position: relative;
    display: flex;
    padding: 16px;
    margin-inline: auto;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    flex-direction: column;
    border-radius: 20px;
    max-width: 800px;
    width: 100%;
    .operation-container {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      .chat-mode {
        display: flex;
        gap: 12px;
        margin: 0px;
        justify-content: center;
        justify-content: flex-start;
      }

      .chat-send {
        flex-shrink: 0;
        width: 36px;
        height: 36px;
        min-width: 36px;
        min-height: 36px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        align-self: flex-end;
      }

      .stop-send-stop {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;

        &:hover {
          background-color: #ff7875 !important;
          border-color: #ff7875 !important;
        }
      }
    }
  }
}
